.header {
  z-index: 1;
  
  .control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;

    .progress {
      width: 240px;
      text-align: center;
    }
  }
}