@import "styles/global";
@import "styles/variables";

.btn-active-order {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  z-index: 5;

  .link {
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
  }

  span {
    z-index: 1;
  }

  .background-oval{
    position: absolute;
    left: -315px;
    top: 0px;
    background-color: $darkGray;
    width: 1000px;
    height: 1000px;
    border-radius: 1000px/1000px;
    z-index: 0;
  }
}