@import "styles/global";
@import "styles/variables";

.section-credentials {
  width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .email-icon {
    width: 23px;
    height: 17px;
    margin-right: 15px;
    fill: $gray;
  }

  .lock-icon {
    width: 23px;
    height: 26px;
    margin-right: 15px;
    fill: $gray;
  }
}