@import "styles/global";
@import "styles/variables";

.breadcrumbs-container {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  padding: 11px 23px;
  border-bottom: solid 1px $borderColor;

  .routes {
    display: flex;

    .route {
      display: flex;
      margin-right: 10px;
      font-size: 14px;
      position: relative;
      text-decoration: none;
      color: $lightGray;
      cursor: pointer;
      text-transform: capitalize;
    }

    .active:after {
      content: '';
      position: absolute;
      bottom: -25px;
      width: 100%;
      height: 2px;
      color: $green;
      background-color: $green;
    }

    .active {
      color: $green;
    }
  }
}
