@import "variables";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: $ff;
  background-color: $white;
}

.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: $white;
}

.page {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding: 0;
  }
}

p {
  margin: 0;
}
